@using ITVisions.Blazor.Controls
@using ITVisions

<Debug>
 @Template

 @FormFields.Count
</Debug>

@if (FormFields != null && FormFields.Any())
{

 <EditForm Model="this" OnValidSubmit="OnSubmit">
  @foreach (var field in FormFields)
  {
   @if (field.Type == FieldType.Headline)
   {
    <h4 class="headline">@field.Label</h4>
   }
   else
   {
    <div class="form-group mb-3">
     @if (!string.IsNullOrEmpty(field.Label))
     {
      <label class="fw-bold">@field.Label</label>
     }

     @if (field.Type == FieldType.RadioButtons)
    {
     <div class="d-flex gap-3">
      @foreach (var option in field.Options)
      {
       <div class="form-check">
        <input class="form-check-input" type="radio" name="@field.Key" id="@($"{field.Key}_{option}")" 
               value="@option" @onchange="@(e => { field.ValueString = option; NotifyValuesChanged(); })" 
               checked="@(field.ValueString == option)" />
        <label class="form-check-label" for="@($"{field.Key}_{option}")">@option</label>
       </div>
      }
     </div>
    }
    else if (field.Type == FieldType.Text)
    {
     <input type="text" class="form-control" @bind="field.ValueString" @bind:after="NotifyValuesChanged" />
    }
    else if (field.Type == FieldType.TextArea)
    {
     <textarea class="form-control" rows="4" @bind="field.ValueString" @bind:after="NotifyValuesChanged"></textarea>
    }
    </div>
   }
  }

  @if (ShowSubmitButton)
  {
   <button type="submit" class="btn btn-primary">@SubmitButtonText</button>
  }
 </EditForm>
}

@code {
 [Parameter]
 public string Template { get; set; }

 [Parameter]
 public EventCallback<FormFieldList> OnValuesChanged { get; set; }

 [Parameter]
 public bool ShowSubmitButton { get; set; } = true;

 [Parameter]
 public string SubmitButtonText { get; set; } = "Absenden";

 private FormFieldList FormFields { get; set; } = new();

 protected override void OnParametersSet()
 {
  if (!string.IsNullOrEmpty(Template))
  {
   FormFields = TextTemplateFormParser.Parse(Template);
  }
 }

 private async void NotifyValuesChanged()
 {
  await OnValuesChanged.InvokeAsync(FormFields);
 }

 private async Task OnSubmit()
 {
  await OnValuesChanged.InvokeAsync(FormFields);
 }

 public FormFieldList GetFormFields()
 {
  return FormFields;
 }


}
