@using System.IO;
@using System.Threading;
@using ITVisions
@using Microsoft.AspNetCore.Components.Forms
@inject BlazorUtil Util

<EditForm Model="model" OnValidSubmit="OnSubmit">

 <h3>
  <span style="margin-right:10px">@Headline</span>
  @if (MaxFileSize > 0)
  {
   <span class="NoteSmall">max @FileUtil.GetMB(MaxFileSize) pro Datei</span>
  }
  @if (MaxFileSize > 0 && !String.IsNullOrEmpty(AcceptableFileTypes))
  {
   <span class="NoteSmall"> | </span>
  }
  @if (!String.IsNullOrEmpty(AcceptableFileTypes))
  {
   <span class="NoteSmall" style='color: @(this.notAllowedFiles>0 ? "red" : "")'>Erlaubte Dateitypen: @AcceptableFileTypes</span>
  }
 </h3>

 <div class="custom-file">
  <InputFile class="custom-file-input" OnChange="OnInputFileChange" multiple accept="@AcceptableFileTypes" /><br />
  <label class="custom-file-label" for="customFile">@Label</label>
 </div>

 @{
  string progressCss = "progress " + (displayProgress ? "" : "d-none");
  string progressWidthStyle = progressPercent + "%";
 }

 @if (this.filesToUpload != null && this.filesToUpload.Count > 0)
 {
  <ol>
   @foreach (var f in this.filesToUpload)
   {
    var zugross = f.Size > MaxFileSize;
    bool Updated = false;
    string newName = f.Name.Replace(" ", "_");
    string newFilePath = System.IO.Path.Combine(Path, newName);
    FileUtil.GetOrCreateDir(new System.IO.FileInfo(newFilePath));
    if (File.Exists(newFilePath)) { Updated = true; }

    @if (!displayProgress)
    {
     <li style='color:@(zugross ? "red" : "black")'>
      Datei @f.Name (@FileUtil.GetMB(f.Size)) @((MarkupString)(!zugross ? $" ist bereit zum Hochladen. <span class='badge badge-{(Updated ? "info" : "success")}'>{(Updated ? "Aktualisiert" : "Neu")}</span>" : "zu groß!Maximium ist " + FileUtil.GetMB(MaxFileSize) + "."))
    </li>
    }
   }
  </ol>

  @if (this.filesToUpload.All(x => x.Size <= MaxFileSize))
  {
   @if (UseComment)
   {
    <div class="form-group">
     Kommentar zu @(this.filesToUpload.Count == 1 ? "dieser Datei" : " diesen " + this.filesToUpload.Count + " Dateien") <span class="ZusatzInfoSmall">optional, max @MaxCommentLength Zeichen</span>
     <textarea @bind="comment" class="form-control" maxlength="@MaxCommentLength" rows="@(MaxCommentLength<200 ? 1 : 2)"></textarea>

     @if (this.Tags != null)
     {
      @foreach (var tag in Tags)
      {
    <a href="#" class="badge badge-primary" @onclick="() => InsertTag(tag.Value)" title="Fügt diesen Text ein: @tag.Value">
        #@tag.Key
       </a>
      }
     }
    </div>


   }

   @if (UseSilent)
   {
    <div class="form-check" style="margin-bottom:10px">
     <input type="checkbox" @bind="silent" class="form-check-input bigCheckbox">
     <label class="form-check-label bigCheckboxLabel">Stiller Upload <span class="ZusatzInfoSmall">@SilentMessage</span></label>
    </div>
   }

   if (this.filesToUpload != null && this.filesToUpload.Count > 0)
   {
    <ITVButton class="btn btn-primary">@(TextGenerator.TextGen.SingularPlural(this.filesToUpload?.Count ?? 1, "Datei", this.filesToUpload.Count + " Dateien") + " nun hochladen")</ITVButton >
   }
  }
 }

 <div>@((MarkupString)Info)</div>
 @if (displayProgress)
 {

  <div class="@progressCss">
   <div class="progress-bar" role="progressbar" style="width: @progressWidthStyle" area-valuenow="@progressPercent" aria-minvalue="0" aria-maxvalue="100"></div>
  </div>
  @*<ITVisions.Blazor.Controls.Loading></ITVisions.Blazor.Controls.Loading>*@
 }

</EditForm>

